In [21]:
import pandas as pd

In [22]:
# data ingestion step 
data = pd.read_csv('Dataset.csv')

In [82]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [83]:
data_copy = data.copy()

In [84]:
# function to describe the dataset 
def describe_dataset(df) :

    unique_values = []
    n_unique_values = []

    col = ['Data_type', 'Missing_value_Count', 'Unique_Values', 'N_unique'] 
    DSC_df = pd.DataFrame(columns=col)
    DSC_df["Missing_value_count"] = df.isnull().sum()
    DSC_df["Data_type"] = df.dtypes

    for i in data :
        unique_values.append(data[i].unique())
        n_unique_values.append(len(data[i].unique()))
    
    DSC_df["Unique_Values"] = unique_values 
    DSC_df["N_unique"] = n_unique_values

    DSC_df.drop("Missing_value_Count" , axis = 1 , inplace = True )

    return DSC_df

In [85]:
# Description of the dataset 
describe_dataset(data_copy)

,Data_type,Unique_Values,N_unique,Missing_value_count
Restaurant ID,int64,"[6317637, 6304287, 6300002, 6318506, 6314302, ...",9551,0
Restaurant Name,object,"[Le Petit Souffle, Izakaya Kikufuji, Heat - Ed...",7446,0
Country Code,int64,"[162, 30, 216, 14, 37, 184, 214, 1, 94, 148, 2...",15,0
City,object,"[Makati City, Mandaluyong City, Pasay City, Pa...",141,0
Address,object,"[Third Floor, Century City Mall, Kalayaan Aven...",8918,0
Locality,object,"[Century City Mall, Poblacion, Makati City, Li...",1208,0
Locality Verbose,object,"[Century City Mall, Poblacion, Makati City, Ma...",1265,0
Longitude,float64,"[121.027535, 121.014101, 121.056831, 121.05647...",8120,0
Latitude,float64,"[14.565443, 14.553708, 14.581404, 14.585318, 1...",8677,0
Cuisines,object,"[French, Japanese, Desserts, Japanese, Seafood...",1826,9
Average Cost for two,int64,"[1100, 1200, 4000, 1500, 1000, 2000, 6000, 800...",140,0
Currency,object,"[Botswana Pula(P), Brazilian Real(R$), Dollar(...",12,0
Has Table booking,object,"[Yes, No]",2,0
Has Online delivery,object,"[No, Yes]",2,0
Is delivering now,object,"[No, Yes]",2,0
Switch to order menu,object,[No],1,0
Price range,int64,"[3, 4, 2, 1]",4,0
Aggregate rating,float64,"[4.8, 4.5, 4.4, 4.9, 4.0, 4.2, 4.3, 3.6, 4.7, ...",33,0
Rating color,object,"[Dark Green, Green, Yellow, Orange, White, Red]",6,0
Rating text,object,"[Excellent, Very Good, Good, Average, Not rate...",6,0
Votes,int64,"[314, 591, 270, 365, 229, 336, 520, 677, 621, ...",1012,0

In [86]:
data_copy.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [87]:
# checking the null values 
data_copy.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [88]:
series_of_modes = data_copy['Cuisines'].mode()

In [89]:
type(series_of_modes)

pandas.core.series.Series

In [90]:
value_to_fill = series_of_modes.iloc[0]

In [91]:
type(value_to_fill)

str

In [92]:
data_copy['Cuisines'] = data_copy['Cuisines'].fillna(value_to_fill)

In [93]:
data_copy['Cuisines'].isnull().sum()

0

In [94]:
# Getting the unique values 
data_copy['Address'].unique()

array(['Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City',
       'Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City',
       'Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City', ...,
       'Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, No 56, Beï¿½ï¿½iktaï¿½ï¿½, ï¿½ï¿½stanbul',
       'Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, No 64/B, Beï¿½ï¿½iktaï¿½ï¿½, ï¿½ï¿½stanbul',
       'Cafeaï¿½ï¿½a Mahallesi, BademaltÛ± Sokak, No 21/B, KadÛ±kï¿½_y, ï¿½ï¿½stanbul'],
      dtype=object)

In [95]:
# Getting the unique values 
data_copy['Locality Verbose'].unique()

array(['Century City Mall, Poblacion, Makati City, Makati City',
       'Little Tokyo, Legaspi Village, Makati City, Makati City',
       'Edsa Shangri-La, Ortigas, Mandaluyong City, Mandaluyong City',
       ..., 'Koï¿½ï¿½uyolu, ï¿½ï¿½stanbul', 'Kuruï¿½_eï¿½ï¿½me, ï¿½ï¿½stanbul',
       'Moda, ï¿½ï¿½stanbul'], dtype=object)

In [96]:
# To get unique values 
data_copy['Locality'].unique()

array(['Century City Mall, Poblacion, Makati City',
       'Little Tokyo, Legaspi Village, Makati City',
       'Edsa Shangri-La, Ortigas, Mandaluyong City', ..., 'Koï¿½ï¿½uyolu',
       'Kuruï¿½_eï¿½ï¿½me', 'Moda'], dtype=object)

In [97]:
# To get nunique values 
data_copy['Locality'].nunique()

1208

In [98]:
# To get nunique values 
data_copy['Locality Verbose'].nunique()

1265

In [99]:
# To get nunique values 
data_copy['Address'].nunique()

8918

if you can see 'Address' , 'Locality Verbose' , 'Locality' these three columns has 
giving same infomartion related to the address of resturant so i am going to keep only
one column out of this

In [100]:
# To drop multiple column using one single line 

col_to_drop = ['Restaurant ID' , 'Restaurant Name' , 'Locality' , 'Locality Verbose' ,'Switch to order menu' ]
data_copy.drop(columns=col_to_drop , inplace = True )

In [101]:
data_copy

,Country Code,City,Address,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes
0,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,4.8,Dark Green,Excellent,314
1,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,3,4.5,Dark Green,Excellent,591
2,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,4,4.4,Green,Very Good,270
3,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,4.9,Dark Green,Excellent,365
4,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,ï¿½ï¿½stanbul,"Kemankeï¿½ï¿½ Karamustafa Paï¿½ï¿½a Mahallesi, RÛ±htÛ±m ...",28.977392,41.022793,Turkish,80,Turkish Lira(TL),No,No,No,3,4.1,Green,Very Good,788
9547,208,ï¿½ï¿½stanbul,"Koï¿½ï¿½uyolu Mahallesi, Muhittin ï¿½ï¿½stï¿½_ndaï¿½ï¿½ Cadd...",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",105,Turkish Lira(TL),No,No,No,3,4.2,Green,Very Good,1034
9548,208,ï¿½ï¿½stanbul,"Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...",29.034640,41.055817,"Italian, World Cuisine",170,Turkish Lira(TL),No,No,No,4,3.7,Yellow,Good,661
9549,208,ï¿½ï¿½stanbul,"Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...",29.036019,41.057979,Restaurant Cafe,120,Turkish Lira(TL),No,No,No,4,4.0,Green,Very Good,901
9550,208,ï¿½ï¿½stanbul,"Cafeaï¿½ï¿½a Mahallesi, BademaltÛ± Sokak, No 21/B, ...",29.026016,40.984776,Cafe,55,Turkish Lira(TL),No,No,No,2,4.0,Green,Very Good,591

#### Multicolinarity

Always check that you column should not be dependent 
on each other it always be independent 

mean always check that they should not have any mathematical
relationship between them

In [102]:
def find_top_categories(df):
    top_categories = {}
    for column in df:
        
        if df[column].dtype == "O" :
            # Count the frequency of each category in the column
            category_counts = df[column].value_counts()

            # Extract the top 5 categories (or fewer if there are fewer than 5 unique categories)
            top_5_categories = category_counts.head(5).index.tolist()

            # Store the top categories in the dictionary
            top_categories[column] = top_5_categories
    
    return top_categories

In [103]:
find_top_categories(data_copy)

{'City': ['New Delhi', 'Gurgaon', 'Noida', 'Faridabad', 'Ghaziabad'],
 'Address': ['Dilli Haat, INA, New Delhi',
  'Sector 41, Noida',
  'Greater Kailash (GK) 1, New Delhi',
  'The Imperial, Janpath, New Delhi',
  'Cyber Hub, DLF Cyber City, Gurgaon'],
 'Cuisines': ['North Indian',
  'North Indian, Chinese',
  'Chinese',
  'Fast Food',
  'North Indian, Mughlai'],
 'Currency': ['Indian Rupees(Rs.)',
  'Dollar($)',
  'Pounds(ï¿½ï¿½)',
  'Brazilian Real(R$)',
  'Emirati Diram(AED)'],
 'Has Table booking': ['No', 'Yes'],
 'Has Online delivery': ['No', 'Yes'],
 'Is delivering now': ['No', 'Yes'],
 'Rating color': ['Orange', 'White', 'Yellow', 'Green', 'Dark Green'],
 'Rating text': ['Average', 'Not rated', 'Good', 'Very Good', 'Excellent']}

In [104]:
map_currency = {"NewZealand($)" : 12 , "Dollar($)" : 12 , "Qatari Rial(QR)" : 11 ,
                "Qatari Rial(QR)" : 10, "Emirati Dirham(AED)" : 9, "Pounds(Â£)" : 8, "Brazilian Real(R$)" : 7, "Turkish Lira(TL)" :6 , 
                "Rand(R)" :5 , "Sri Lankan Rupee(LKR)" : 4, "Indian Rupees(Rs.)" : 3,"Botswana Pula(P)" : 2, "Indonesian Rupiah(IDR)" : 1}

In [105]:
map_rating_text = {'Average' : 1 ,  'Not rated' : 2 , 'Good' : 3, 'Very Good' : 4 , 'Excellent' : 5 }

In [106]:
data_copy['Currency']=data_copy['Currency'].map(map_currency)
data_copy['Rating text']=data_copy['Rating text'].map(map_rating_text)

In [107]:
booking_map = {'Yes' : 1 , 'No' : 0 }

In [108]:
data_copy['Has Table booking'] = data_copy['Has Table booking'].map(booking_map)
data_copy['Is delivering now'] = data_copy['Is delivering now'].map(booking_map)
data_copy['Has Online delivery'] = data_copy['Has Online delivery'].map(booking_map)

In [109]:
data_copy['Cuisines'] = data_copy['Cuisines'].fillna( 'North Indian')

In [110]:
data_copy['Currency'] = data_copy['Currency'].fillna(data_copy['Currency'].median())

In [111]:
data_copy['Rating text'] = data_copy['Rating text'].fillna(data_copy['Currency'].median())

In [112]:
data_copy.isnull().sum()

Country Code            0
City                    0
Address                 0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [113]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Assuming you have already defined data_copy

# Define a list of the 10 columns you want to encode
columns_to_encode = ['City' , 'Address' , 'Cuisines' , 'Rating color']

threshold = 5  # Number of top categories to keep

encoder = OneHotEncoder(sparse=False , drop= "first")

# Loop through each column
for column in columns_to_encode:
    # Get the value counts for the column
    counts = data_copy[column].sort_values(ascending=False).value_counts()
    
    # Identify the top categories to keep and replace the rest with 'uncommon'
    top_categories = counts.index[:threshold]
    data_copy[column] = data_copy[column].where(data_copy[column].isin(top_categories), 'uncommon')
    
    # Fit and transform the column with one-hot encoding
    encoded_data = encoder.fit_transform(data_copy[[column]])
    
    # Create a DataFrame from the one-hot encoded values
    encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out([column]))
    
    # Concatenate the one-hot encoded DataFrame with the original data_copy DataFrame
    data_copy = pd.concat([data_copy, encoded_df], axis=1)
    
    # Drop the original column
    data_copy.drop(columns=[column], inplace=True)

# Sample 5 rows of the encoded DataFrame
sampled_data = data_copy.sample(5)

print(sampled_data)

      Country Code  Longitude   Latitude  Average Cost for two  Currency  \
3033             1  77.219633  28.630166                   600       3.0
8233             1  77.386286  28.532686                   400       3.0
1990             1  77.100094  28.428465                   500       3.0
28              30 -47.907500 -15.820000                    90       7.0
8979             1  77.400003  28.588073                   500       3.0

      Has Table booking  Has Online delivery  Is delivering now  Price range  \
3033                  0                    0                  0            2
8233                  0                    0                  0            1
1990                  0                    0                  0            2
28                    0                    0                  0            3
8979                  0                    0                  0            2

      Aggregate rating  ...  Cuisines_Fast Food  Cuisines_North Indian  \
3033               3.9  ...                 0.0                    0.0
8233               2.9  ...                 0.0                    0.0
1990               3.6  ...                 0.0                    0.0
28                 3.7  ...                 0.0                    0.0
8979               0.0  ...                 0.0                    0.0

      Cuisines_North Indian, Chinese  Cuisines_North Indian, Mughlai  \
3033                             0.0                             0.0
8233                             1.0                             0.0
1990                             0.0                             0.0
28                               0.0                             0.0
8979                             0.0                             0.0

      Cuisines_uncommon  Rating color_Green  Rating color_Orange  \
3033                1.0                 0.0                  0.0
8233                0.0                 0.0                  1.0
1990                0.0                 0.0                  0.0
28                  1.0                 0.0                  0.0
8979                1.0                 0.0                  0.0

      Rating color_White  Rating color_Yellow  Rating color_uncommon
3033                 0.0                  1.0                    0.0
8233                 0.0                  0.0                    0.0
1990                 0.0                  1.0                    0.0
28                   0.0                  1.0                    0.0
8979                 1.0                  0.0                    0.0

[5 rows x 32 columns]

C:\Users\mahen\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\mahen\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\mahen\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\mahen\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [114]:
data_copy

,Country Code,Longitude,Latitude,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,...,Cuisines_Fast Food,Cuisines_North Indian,"Cuisines_North Indian, Chinese","Cuisines_North Indian, Mughlai",Cuisines_uncommon,Rating color_Green,Rating color_Orange,Rating color_White,Rating color_Yellow,Rating color_uncommon
0,162,121.027535,14.565443,1100,2.0,1,0,0,3,4.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,162,121.014101,14.553708,1200,2.0,1,0,0,3,4.5,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,162,121.056831,14.581404,4000,2.0,1,0,0,4,4.4,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,162,121.056475,14.585318,1500,2.0,0,0,0,4,4.9,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,162,121.057508,14.584450,1500,2.0,1,0,0,4,4.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,28.977392,41.022793,80,6.0,0,0,0,3,4.1,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9547,208,29.041297,41.009847,105,6.0,0,0,0,3,4.2,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9548,208,29.034640,41.055817,170,6.0,0,0,0,4,3.7,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9549,208,29.036019,41.057979,120,6.0,0,0,0,4,4.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9550,208,29.026016,40.984776,55,6.0,0,0,0,2,4.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [115]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country Code                               9551 non-null   int64
 1   Longitude                                  9551 non-null   float64
 2   Latitude                                   9551 non-null   float64
 3   Average Cost for two                       9551 non-null   int64
 4   Currency                                   9551 non-null   float64
 5   Has Table booking                          9551 non-null   int64
 6   Has Online delivery                        9551 non-null   int64
 7   Is delivering now                          9551 non-null   int64
 8   Price range                                9551 non-null   int64
 9   Aggregate rating                           9551 non-null   float64
 10  Rating text                                9551 non-null   float64
 11  Votes                                      9551 non-null   int64
 12  City_Ghaziabad                             9551 non-null   float64
 13  City_Gurgaon                               9551 non-null   float64
 14  City_New Delhi                             9551 non-null   float64
 15  City_Noida                                 9551 non-null   float64
 16  City_uncommon                              9551 non-null   float64
 17  Address_Greater Kailash (GK) 1, New Delhi  9551 non-null   float64
 18  Address_HUDA Market, Sector 56, Gurgaon    9551 non-null   float64
 19  Address_Sector 41, Noida                   9551 non-null   float64
 20  Address_The Imperial, Janpath, New Delhi   9551 non-null   float64
 21  Address_uncommon                           9551 non-null   float64
 22  Cuisines_Fast Food                         9551 non-null   float64
 23  Cuisines_North Indian                      9551 non-null   float64
 24  Cuisines_North Indian, Chinese             9551 non-null   float64
 25  Cuisines_North Indian, Mughlai             9551 non-null   float64
 26  Cuisines_uncommon                          9551 non-null   float64
 27  Rating color_Green                         9551 non-null   float64
 28  Rating color_Orange                        9551 non-null   float64
 29  Rating color_White                         9551 non-null   float64
 30  Rating color_Yellow                        9551 non-null   float64
 31  Rating color_uncommon                      9551 non-null   float64
dtypes: float64(25), int64(7)
memory usage: 2.3 MB

In [205]:
# Here above you can see the difference after cleaning the data

In [117]:
data_copy.to_csv('Project/cleaned4.csv')

In [118]:
# independent and dependent feaures 
X = data_copy.drop("Aggregate rating" , axis = 1)
Y = data_copy['Aggregate rating']

In [119]:
# independent variable 
X

,Country Code,Longitude,Latitude,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Rating text,...,Cuisines_Fast Food,Cuisines_North Indian,"Cuisines_North Indian, Chinese","Cuisines_North Indian, Mughlai",Cuisines_uncommon,Rating color_Green,Rating color_Orange,Rating color_White,Rating color_Yellow,Rating color_uncommon
0,162,121.027535,14.565443,1100,2.0,1,0,0,3,5.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,162,121.014101,14.553708,1200,2.0,1,0,0,3,5.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,162,121.056831,14.581404,4000,2.0,1,0,0,4,4.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,162,121.056475,14.585318,1500,2.0,0,0,0,4,5.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,162,121.057508,14.584450,1500,2.0,1,0,0,4,5.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,208,28.977392,41.022793,80,6.0,0,0,0,3,4.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9547,208,29.041297,41.009847,105,6.0,0,0,0,3,4.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9548,208,29.034640,41.055817,170,6.0,0,0,0,4,3.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
9549,208,29.036019,41.057979,120,6.0,0,0,0,4,4.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
9550,208,29.026016,40.984776,55,6.0,0,0,0,2,4.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [120]:
# Dependent variable 
Y

0       4.8
1       4.5
2       4.4
3       4.9
4       4.8
       ...
9546    4.1
9547    4.2
9548    3.7
9549    4.0
9550    4.0
Name: Aggregate rating, Length: 9551, dtype: float64

In [121]:
from sklearn.model_selection import train_test_split 
X_train , X_test , y_train , y_test = train_test_split(X,Y , test_size = 0.33 , random_state=42)

In [123]:
from sklearn.linear_model import LinearRegression , Lasso , Ridge , ElasticNet 
from sklearn.metrics import r2_score , mean_absolute_error , mean_squared_error

In [124]:
# training model 
regression = LinearRegression()
regression.fit(X_train , y_train)

LinearRegression()

In [125]:
regression.coef_

array([ 1.82179351e-05, -9.11548984e-05, -1.26703506e-04, -8.62893908e-08,
       -2.91171961e-03,  8.65035878e-03, -1.12059451e-03, -1.44310342e-02,
        1.13040591e-02,  7.51223220e-01,  3.50919960e-05, -1.85840013e-02,
        3.52558022e-02,  3.04586920e-02,  2.45844733e-03,  1.13025042e-01,
        1.94711317e-01,  9.97976520e-02,  1.76945733e-01,  2.03575010e-01,
        8.71695976e-02,  3.77138999e-02,  1.58966511e-02, -2.58869570e-02,
        1.96669330e-02,  2.97472407e-02,  2.90631857e-01,  1.51042049e+00,
       -2.27610487e+00,  6.11197523e-01, -7.38808742e-01])

In [126]:
regression.intercept_

0.6427491609240712

In [127]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [128]:
# To train multiple models 
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    
    # Here the models getting trained 
    model.fit(X_train,y_train)

    #Make Predictions always based on test data
    y_pred=model.predict(X_test)

    # By obtaining the predicted values, you can compare them 
    # with the actual target values (y_test) to evaluate the model's
    # performance and assess how well it predicts the 
    # target variable on unseen data.

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 0.17595680888638512
MAE: 0.13019351818897096
R2 score 98.6313574687023
===================================


Lasso
Model Training Performance
RMSE: 1.3795008129989403
MAE: 1.1297534635784368
R2 score 15.875634985298248
===================================


Ridge
Model Training Performance
RMSE: 0.17597203650610949
MAE: 0.13021126278760556
R2 score 98.63112056886362
===================================


Elasticnet
Model Training Performance
RMSE: 1.3576710986279723
MAE: 1.112039707516373
R2 score 18.516997471695984
===================================